var new _comment = $("<%= escape_javascript(render(:partial => @comment)) %>").hide();
$("#comments").prepend(new_comment);
$("#comments_<%= @comment.id %>").fadeIn('slow');
$("#new_comment")[0].reset();